---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base_Dashboard.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "index");
const { banner, sections, features, testimonial } = homepage.data;
const call_to_action = homepage.data.call_to_action;

//  AQU VIENE LA CONEXIN AL BACKEND
const res = await fetch("http://localhost:3001/appointments");
const appointments = await res.json();

---

<Base>
  <!-- T铆tulo antes de la tabla -->
  <div class="mb-6 text-center">
    <!-- <h2 class="font-semibold text-gray-800 dark:text-white">
      Agendamiento de Citas
    </h2> -->
  </div>

  <!-- Secci贸n para agregar cita -->
  <div class="mb-6 mx-auto max-w-6xl">
    <form
      action="#"
      method="POST"
      class="space-y-4 bg-white p-6 shadow-lg sm:rounded-lg dark:bg-gray-800 dark:text-white"
    >
      <h3 class="text-lg font-medium text-gray-800 dark:text-white">
        Agregar Nueva Cita
      </h3>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Nombre del Cliente -->
        <div class="col-span-1">
          <label
            for="customer_name"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300">
            Nombre del Cliente</label>
          <input
            type="text"
            id="customer_name"
            name="customer_name"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            placeholder="Nombre del Cliente"
            required
          />
        </div>

        <!-- Empleado de Preferencia -->
        <div class="col-span-1">
          <label
            for="employee_preference"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Empleado de Preferencia</label
          >
          <select
            id="employee_preference"
            name="employee_preference"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            required
          >
            <option value="">Seleccione un empleado</option>
            <option value="javier_ospina">Javier Ospina</option>
            <option value="pedro_buenaventura">Pedro Buenaventura</option>
            <option value="bresman_tafur">Bresman Tafur</option>
            <option value="wilmer_cardozo">Wilmer Cardozo</option>
          </select>
        </div>

        <!-- Tipo de Cita -->
        <div class="col-span-1">
          <label
            for="appointment_type"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Tipo de Servicio</label
          >
          <select
            id="appointment_type"
            name="appointment_type"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            required
          >
            <option value="">Seleccione un servicio</option>
            <option value="Tatuaje">Tatuaje</option>
            <option value="Piercing">Piercing</option>
            <option value="Cover_up">Cover up</option>
            <option value="Modificacion_corporal">Modificaci贸n Corporal</option>
          </select>
        </div>

        <!-- Lugar -->
        <div class="col-span-1">
          <label
            for="place"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Lugar</label
          >
          <select
            id="place"
            name="place"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            onchange=""
            required
          >
            <option value="">Seleccione un lugar</option>
            <option value="Local nuclear tattoo">Local Nuclear Tattoo</option>
            <option value="Domicilio">Domicilio</option>
          </select>
        </div>

        <!-- Campo de direcci贸n que se mostrar谩 solo si se selecciona "Domicilio" -->
        <div id="addressField" class="col-span-1" style="display: none;">
          <label
            for="address"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Direcci贸n</label
          >
          <input
            type="text"
            id="address"
            name="address"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            placeholder="Ingresa tu direcci贸n"
          />
        </div>

        <!-- Fecha y Hora de la Cita -->
        <div class="col-span-1">
          <label
            for="appointment_date"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Fecha y Hora de la Cita</label
          >
          <input
            type="datetime-local"
            id="appointment_date"
            name="appointment_date"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            required
          />
        </div>
      </div>
      <!-- Bot贸n para enviar el formulario -->
      <div class="mt-4 flex justify-center w-full">
        <button
          type="submit"
          class="btn-primary inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-white font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-blue-500 dark:hover:bg-blue-600"
        >
          Agendar Cita
        </button>
      </div>
    </form>
  </div>

  <!-- Texto centrado "Lista de Citas" -->
  <div class="mb-6 text-center">
    <h3 class="font-semibold text-gray-800 dark:text-white">Lista de Citas</h3>
  </div>

  <!-- Contenedor de la tabla con un ancho m谩ximo y centrado -->
  <div
    class="relative overflow-x-auto shadow-lg sm:rounded-lg mx-auto max-w-6xl mb-8"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3"> Nombre del Cliente </th>
          <th scope="col" class="px-6 py-3"> Empleado de Preferencia </th>
          <th scope="col" class="px-6 py-3"> Tipo de Servicio </th>
          <th scope="col" class="px-6 py-3"> Estado </th>
          <td class="px-6 py-4"> Lugar </td>
          <th scope="col" class="px-6 py-3"> Fecha </th>
          <th scope="col" class="px-6 py-3"> Acciones </th>
        </tr>
      </thead>
      
      <tbody id="appointmentsTable">
        {
          appointments.map((appointment) => (
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {appointment.client_name}
              </th>
              <td class="px-6 py-4">{appointment.employee_name}</td>
              <td class="px-6 py-4">{appointment.service_type}</td>
              <td class="px-6 py-4">{appointment.status}</td>
              <td class="px-6 py-4">{appointment.appointment_location}</td>
              <td class="px-6 py-4">{appointment.start_date_time}</td>
              <td class="px-6 py-4">
                <a
                  href="#"
                   class="btn-edit font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                  Editar
                </a>
                <a
                  href="#"
                  class="eliminar-cita font-medium text-red-600 dark:text-red-500 hover:underline ml-4"
                >
                  Eliminar
                </a>
              </td>
            </tr>
          ))
        }
      </tbody> 
    </table>

    <!-- Modal para editar cita -->
   
    <div id="editModal" class="fixed inset-0 z-50 hidden flex items-center justify-center bg-gray-900 bg-opacity-50 backdrop-blur-sm min-h-screen text-left">
      <div class="bg-white dark:bg-gray-800 dark:text-white p-6 rounded-lg shadow-lg sm:w-3/4 md:w-1/2">
        <form id="editAppointmentForm" class="space-y-4">
          <h3 class="text-lg font-medium text-gray-800 dark:text-white">Editar Cita</h3>
    
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Nombre del Cliente -->
            <div class="col-span-1">
              <label for="edit_customer_name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Nombre del Cliente</label>
              <input
              type="text"
              id="edit_customer_name"
              name="edit_customer_name"
              class="mt-1 block w-full px-2 py-2 leading-snug border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white text-left"
            />
            </div>
    
            <!-- Empleado de Preferencia -->
            <div class="col-span-1">
              <label for="edit_employee_preference" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Empleado de Preferencia</label>
              <select
                id="edit_employee_preference"
                name="edit_employee_preference"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
                required
              >
                <option value="">Seleccione un empleado</option>
                <option value="javier_ospina">Javier Ospina</option>
                <option value="pedro_buenaventura">Pedro Buenaventura</option>
                <option value="bresman_tafur">Bresman Tafur</option>
                <option value="wilmer_cardozo">Wilmer Cardozo</option>
              </select>
            </div>
    
            <!-- Tipo de Cita -->
            <div class="col-span-1">
              <label for="edit_appointment_type" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tipo de Servicio</label>
              <select
                id="edit_appointment_type"
                name="edit_appointment_type"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
                required
              >
                <option value="">Seleccione un servicio</option>
                <option value="tatuaje">Tatuaje</option>
                <option value="piercing">Piercing</option>
                <option value="cover_up">Cover up</option>
                <option value="modificacion_corporal">Modificaci贸n Corporal</option>
              </select>
            </div>
    
            <!-- Lugar -->
            <div class="col-span-1">
              <label for="edit_place" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Lugar</label>
              <select
                id="edit_place"
                name="edit_place"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
                required
              >
                <option value="">Seleccione un lugar</option>
                <option value="local">Local Nuclear Tattoo</option>
                <option value="domicilio">Domicilio</option>
              </select>
            </div>
    
            <!-- Direcci贸n (solo visible si selecciona "Domicilio") -->
            <div id="edit_addressField" class="col-span-1" style="display: none;">
              <label for="edit_address" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Direcci贸n</label>
              <input
                type="text"
                id="edit_address"
                name="edit_address"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
              />
            </div>
    
            <!-- Fecha y Hora de la Cita -->
            <div class="col-span-1">
              <label for="edit_appointment_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Fecha y Hora de la Cita</label>
              <input
                type="datetime-local"
                id="edit_appointment_date"
                name="edit_appointment_date"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
                required
              />
            </div>
          </div>
    
          <div class="mt-4 flex justify-center w-full">
            <button
              type="submit"
              class="btn-primary inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-white font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Guardar Cambios
            </button>
            <button
              type="button"
              id="cancelEdit"
              class="inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
    



  </div>

<script type="module" src="/scripts/views/appointments.js"></script>
  
  
</Base>
